@media screen and (min-width:800px){
    body {
        background-image: url(../../images/bgc.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'iconfont';
    }
}
@media screen and (max-width:800px){
    body {
        background-image: url(../../images/bgcf.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'iconfont';
    }
}